@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  position: relative;
}

.book-container {
    width: 1608px;
    margin-top: 176px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    display: none;
}

.book {
    width: 321px;
    height: 473px;
    border-radius: 22px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 20.01%;
    margin-bottom: 70px;
}

.book h3 {
    font-size: 22px;
    color: #fff;
    margin: 14px 0 7px 0;
    width: 285px;
    font-weight: 400;
}

.book img {
    width: 285px;
    height: 100%;
    border-radius: 19px;
    object-fit: cover;
    object-position: 0 0%;
}

.img-container {
    max-height: 381px;
    transition: max-height 0.15s ease;
    z-index: 2;
    position: relative;
}

.img-container button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #E05A5A;
    color: #fff;
    border: none;
    padding: 8px 5px;
    border-radius: 5px;
}

.img-container button:hover {
    transition: transform 0.05s ease;
    transform: scale(1.1);
}

.book:hover {
    .img-container {
        max-height: 246px !important;
    }
}

/* info box */

.info {
    position: absolute;
    z-index: 1;
    bottom: 17px;
    left: 20px;
    height: 113px;
    display: flex;
    flex-direction: column;
}

.info p {
    margin: 0;
    color: #fff;
}

.info span {
    background-color: #fff;
    color: #564E87;
    border-radius: 9px;
    font-size: 15px;
    padding: 1px 10px;
    margin-left: 5px;
}

.gerne-container {
    display: flex;

}

.span-container span:nth-child(-n + 2) {
    margin-bottom: 8px;
}

.span-container {
    width: 222px;
    display: flex;
    flex-wrap: wrap;
}

.lastP p {
    margin-top: 8px;
}

/* Library Btn */

.library-btn {
    position: fixed;
    width: 238px;
    height: 75px;
    background-color: #E05A5A;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-around;
    top: 54px;
    right: 148px;
    z-index: 4;
}

.library-btn:hover {
    transition: transform 0.05s ease;
    transform: scale(1.1);
}

.library-btn p {
    margin: 0;
    font-size: 32px;
}

.library-btn img {
    width: 41px;
    height: 41px;
}

.library-btn div {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.library-btn div p {
    margin: 0;
    font-size: 22px;
    color: #E05A5A;
}

.blur {
    backdrop-filter: blur(5px);
    display: none;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 3;
}

.blur.active {
    display: block;
}

/* library */

.library-container {
    position: absolute;
    width: 1376px;
    height: 768px;
    background-color: #E05A5A;
    left: 272px;
    top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    z-index: 5;
    display: none;
}

.library-container.active {
    display: flex;
}

.library-books {
    overflow: auto;
    background-color: #fff;
    padding: 41px 50px;
    width: 1192px;
    height: 517px;
    display: flex;
    flex-direction: column;
    margin-top: 70px;
}

.library-book {
    width: 100%;
    height: 167px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 23px;
}

.library-book p {
    margin: 0;
}

.library-books div:first-of-type {
    margin: 0;
}

.library-book img:first-of-type {
    height: 100%;
}

.library-book img:last-of-type {
    height: 58px;
}

.library-info {
    height: 100%;
    padding: 15px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 22px;
}

.library-gernes {
    font-size: 22px;
    align-self: flex-start;
    margin-top: 15px;
}

.library-gernes div {
    display: flex;
    flex-wrap: wrap;
    width: 258px;
}

.library-gernes div span {
    background-color: #E05A5A;
    padding: 2px 8px;
    border-radius: 8px;
    margin-top: 6px;
    color: #fff;
}

.library-gernes div span:nth-child(2) {
    margin-left: 10px;
}

.library-gernes div span:last-of-type {
    margin-top: 10px;
}

/* loan-btn */

.bottom-container {
    display: flex;
    align-items: center;
}

.loan-btn {
    background-color: #fff;
    border: none;
    color: #E05A5A;
    padding: 15px 60px;
    font-size: 25px;
    margin-left: 30px;
}

.bottom-container h4 {
    margin: 0;
    font-weight: 400;
    font-size: 25px;
    color: #fff;
}

/* Detail container */

.detail-container {
    width: 1200px;
    background-color: #E05A5A;
    position: absolute;
    top: 100px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 15px;
}

/* top-container */

.top-container {
    display: flex;
    max-height: 800px;
}

/* left-container */

.left-side-container {
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
}

.left-side-container img {
    border-radius: 10px;
    height: 500px;
}

/* middle-container */

.middle-container {
    background-color: aqua;
}

.middle-container h2 {
    margin: 30px 0 0 0;
    font-size: 36px;
    font-weight: 400;
    color: #fff;
}

.middle-container h4 {
    font-size: 22px;
    font-weight: 400;
    margin: 10px 0 0 0;
    color: #fff;
}

/* rating system container */

.rating-container {
    display: flex;
    margin-top: 15px;
}

.star-container img {
    width: 197px;
}

.based-container {
    background-color: #fff;
    height: 45px;
    width: fit-content;
    display: flex;
    align-items: center;
    border-radius: 10px;   
    padding: 0 10px 0 10px;
    margin-left: 10px;
}

.based-container p:first-of-type {
    margin: 0;
    font-size: 20px;
}

.based-container p:last-of-type {
    margin: 0 0 0 10px;
    font-size: 12px;
    text-align: center;
}
/**/
.resume {
    width: 600px;
    color: #fff;
    font-size: 16px;
}

.resume p {
    margin: 20px 0 0 0;
}

.buy-container {
    display: flex;
    margin-top: 30px;
}

.buy-btn {
    height: 45px;
    background-color: #fff;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    padding: 0 10px 0 10px;
}

.buy-container div {
    width: 191px;
    height: 45px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin-left: 10px;
}

.buy-container div p {
    margin: 0;
}

/* right-container */

.right-side-container p {
 margin: 0;
}

/* review-container */

.review-container {
    width: 100%;
    height: 40px;
    background-color: #564E87;
    margin-top: 20px;
    border-radius: 10px;
}